.container__rows {
    display: flex;
    justify-content: space-between;
    background: #40e0d0;
    align-items: center;
    margin: 10px auto;
    width: 80%;
    height: 10rem;
}

.item__rigth {
    display: flex;
    align-items: center;
}

.item__left {
    display: flex;
    justify-content: start;
    width: 32rem;
}

.item__left p {
    padding: 1rem;
    margin: auto 0.5rem;
    background: cornflowerblue;
    border-radius: 1rem;
    cursor: pointer;
}

.item__info {
    display: flex;
    flex-direction: column;
}

.item__info > div {
    display: flex;
}

.item__info p {
    padding: 2px;
}

.item__img {
    width: 60px;
    height: 60px;
}

