.container__rows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:  hsl(0, 0%, 100%);
    margin: 4rem auto;
    
    height: 30rem;
    position: relative; 
    border-radius: 1rem;
    /* border-left: 0.5rem solid hsl(180, 29%, 50%); */
    -webkit-box-shadow: 0px 0px 28px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px -14px rgba(0,0,0,0.75);
}

.border_left {
    border-left: 0.5rem solid hsl(180, 29%, 50%);
}


.item__img {
    position: absolute;
    top: -3.2rem;
    left: 2rem;
    width: 60px;
    height: 60px;
}

.item__rigth {
    width: 90%;
    padding: 2rem 0;
    margin: 0 auto;;
    display: flex;
    justify-content: center;
    justify-content: left;
    border-bottom: 1px solid hsl(180, 8%, 52%);
}

.new , .featured {
    
    text-transform: uppercase;
    background: hsl(180, 29%, 50%);
    color: white;
    font-weight: 700;
    padding: 0.5rem 1rem;
    padding-top: 0.9rem;
    margin: auto 1rem;
    border-radius: 2rem;
}

.featured {
    background: hsl(180, 14%, 20%);
}
.item__company {
    font-weight: 700;
    color:hsl(180, 29%, 50%);
}

.item__grey {
    color: hsl(180, 8%, 52%);
}
/* .item__circle {
    width: 10px;
    height: 10px;
    background: red;
} */

.item__grey p {
    display: flex;
    align-items: center;
    margin: auto 0.5rem;
}
.item__circle{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
    background: hsl(180, 8%, 52%);
}


.item__left {
   display: grid;
   width: 95%;
   margin: auto;
   padding: 1rem 0;
   grid-template-columns: 1fr 1fr 1fr;
   
}

.item__left  button{
    outline: none;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color:#5ba4a4;
    justify-self: start;
    padding: 1rem;
    max-width: 9rem;
    margin: 5px;
    background-color: #eef6f6;
    border-radius: 0.5rem;
    cursor: pointer;
}

.item__info {
    display: flex;
    flex-direction: column;
}

.item__info > div {
    display: flex;
}

.item__position{
    font-weight: 700;
}

/* =================== styles responsive==================== */
@media (min-width:800px) {
    .container__rows {
        flex-direction: row;
        height: 16rem;
        padding: 0 1rem;
        align-items: center;
       justify-content: space-between;
    }
    .item__rigth {
        align-items: center;
        border-bottom: none;
    }
  .item__img {
   position: static;
   padding: 0px 1rem;
   width: 90px;
   height: 90px;
 }

 .item__left {
     display: flex;
     justify-content: flex-end;
 }
 .item__left p {
     margin: 0px 1rem;
 }

}

